@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url(./bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
  padding: 10px;
  width: 100%;
  margin: 30px auto;
  max-width: 1440px;
}
.content {
  color: white;
  align-items: center;
  margin: auto 30px;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
p {
  line-height: 150%;
}
.form-container {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  margin: 10%;
  margin-top: auto;
  background-color: #fff;
  padding: 2em 2em;
  border-radius: 6px;
  box-shadow: 0px 6px #0000005b;
}
.text {
  text-align: center;
  width: 80%;
  margin: 10% auto 5%;
  background-color: hsl(248, 32%, 49%);
  padding: 15px;
  border: none;
  border-radius: 6px;
  color: #fff;
  box-shadow: 0px 6px #0000005b;
}
span {
  color: rgb(237, 230, 230);
}
input {
  height: 25px;
  padding: 4% 5%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0.3em;
}

input[type="submit"] {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: bold;
  cursor: pointer;
  background: hsl(154, 59%, 51%);
  font-size: 11px;
  box-shadow: 0px 2px hsl(153, 77%, 52%);
}
.text2 {
  color: hsl(246, 25%, 77%);
  font-size: 13px;
  margin: 7px auto;
}
a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}
input:invalid {
  border-color: hsl(0, 100%, 74%);
  background-image: url(./icon-error.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 95%;
}
.error-message {
  color: hsl(0, 100%, 74%);
  position: relative;
  left: 49%;
  font-size: 10px;
  /* width: fit-content; */
}
